<!-- views/partials/footer.ejs -->
<footer class="footer-area section-padding-80-0">
        <div class="container">
    <div class="row" style="margin-bottom: 30px;">
                
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by MAIA Team </a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
    
        </div>
    </footer>