<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

<style>
    img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    }
</style>

<body>

    <% include ../partials/nav %>
    <!-- ***** Header Area End ***** -->
   <!-- ***** Welcome Area Start ***** -->
   <section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="./img/core-img/curve-1.png" alt="">
                </div>
               
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <br> <span>Skin Detection</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Welcome to the Online Skin Lesion Detection</h5>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="img">
                                    <img src="./img/bg-img/home_img1.jpg" style = "height: 600px;width: 600px" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="./img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <br> <span>Skin Detection</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Welcome to the Online Skin Lesion Detection</h5>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="img">
                                    <img src="./img/bg-img/home_img1.jpg" style = "height: 600px;width: 600px" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="./img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <br> <span>Skin Detection</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Welcome to the Online Skin Lesion Detection</h5>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="img">
                                    <img src="./img/bg-img/home_img1.jpg" style = "height: 600px;width: 600px" alt="" data-animation="slideInRight" data-delay="400ms">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
<!-- ***** Welcome Area End ***** -->


   <!-- ***** About Us Area Start ***** -->
   <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="img">
                        <img style = "height: 600px;width: 600px" src="./img/bg-img/home_img2.jpg" alt="">
                        <!-- Video Area -->
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        <h2>Online skin lesion detection web page</h2>
                        <p>This page let us take a complete control of the moles and the little marks that have been appearing in our skin</p>
                        <p>Furthermore, the page will let you contact with the doctor if you need it</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="./img/core-img/curve-2.png" alt="">
        </div>
    </section>
<!-- ***** About Us Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer %>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <% include ../partials/scripts %>
    

</body>

</html>